
  
  .App {
    display: grid;
    grid-template-columns:  230px auto; 
    grid-template-rows: auto;
    grid-template-areas:
      "sidebar header"
      "sidebar main";
    height: 100vh;
  }
  
  header {

    grid-area: header;
    background-color:transparent;
    
   
  }
  
  sidebar {
    grid-area: sidebar;
   width: 200px;
   
  }
  
  main {
    grid-area: main;
 
  }
  